.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    gap: 60px;
    padding: 20px;
    /*margin-right: 100%;*/

}

.title {
    text-align: center;
    font-size: large;
    font-size: 25px;
}


.card {
    border: 15px solid #5EBEC4;
    border-radius: 13px;
    padding: 20px;
    width: 22rem;
    height: 32rem;
    background-color: white;
    position: relative;

}

.date {
    display: inline-block;
    text-align: right;
    margin: 5%;
    margin-top: 85%;
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 8%;

}

.name {
    display: inline-block;
    text-align: left;
    margin: 5%;
    margin-top: 85%;
    position: absolute;
    bottom: 0;
}

